<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{css/normalize.css}" href="../static/normalize.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{css/main.css}" href="../static/main.css" rel="stylesheet" type="text/css"/>
    <title>Output</title>
</head>
<body>
<h1>Pyramid Calculations </h1>
<!--/*@thymesVar id="pyramid" type="vandan.patel.assignment3.PyramidForm"*/-->
<div th:object="${pyramid}">
    <p>
        <label>Sides of Polygon: </label>
        <span class="output" th:text="*{baseN}" id="output">Polygon: </span>
    </p>
    <p>
        <label>Base Side: </label>
        <span class="output" th:text="*{#numbers.formatDecimal(baseSide,1,3,'POINT')}">Base Side: </span>
    </p>
    <p>
        <label>Height: </label>
        <span class="output" th:text="*{#numbers.formatDecimal(height,1,3,'POINT')}">Height: </span>
    </p>
    <p>
        <label>Base Area: </label>
        <span class="output" th:text="*{#numbers.formatDecimal(baseArea,1,3,'POINT')}">Base Area: </span>

    <p>
        <label>Volume: </label>
        <span class="output" th:text="*{#numbers.formatDecimal(volume,1,3,'POINT')}">Volume: </span>
    </p>

</div>
    <p><a href="/Input.do">Back to Pyramid Calculator</a> </p>
</body>
</html>